.inputBox {
  width: 50%;
  margin-top: 5px;
  margin: 50px;
  padding: 5px;
}

.searchBox {
  position: absolute;
  margin-top: 32px;
}

.inputSec {
  margin-left: 10px;
}
.cardEach {
  margin-top: 10px;
}
.cardStyle {
  border: 3px solid #F2F2F2;
  border-radius: 10px;
}

.inputSection {
  border: 2px solid #4a4a4a !important;
}

.centered2 {
  color: white;
  font-weight: bold;
  font-size: xx-large;
  width: 60%;
}

.eventHeader {
  height: 300px;
  background-image: url(../../images/upcoming0.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}