.logoutBtn {
  position: relative;
  /* width: 70px;
  height: 25px; */
  /* margin: 1px; */
  border-radius: 4px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #4a4a4a;
  /* box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5),
    15px 15px 15px rgba(0, 0, 0, 0), inset 4px 4px 5px rgba(255, 255, 255, 0.8),
    inset -4px -4px 5px rgba(0, 0, 0, 0.05), 0 50px 40px rgba(0, 0, 0, 0.05) !important; */
}

.welcomeName {
  color: #0f7173 !important;
}

.logo {
  background-image: url(../../images/logo.png);
  display: block;
  width: 174px;
  height: 50px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 20px;
}

.navbar.bg-light {
  background-color: white!important;
}

.navbar.bg-light a {
  color: #4a4a4a!important;
}